@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "JetBrains Mono", monospace;
    height: 100vh;
    background: linear-gradient(to bottom, #0d0d10, #222224);

}   

h1 {
    color: white;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 32px;
}

.copy-password {
    display: flex;   
    margin-bottom: 20px;
    width: 400px;
    height: 60px;
    background-color: #24232b;
}

.copy-password-input {
    flex-grow: 1;
    text-align: start;
    padding: 5px 10px;
    font-size: 15px;
    border: 1px solid #24232b;
    border-right: none;
    background-color: #24232b;
    font-family: "JetBrains Mono", monospace;
    outline: none;
    color: white;
    height: 100%; 
}

.copy-password-button {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #24232b;
    padding: 5px 10px;
    background-color: #24232b;   
    outline: none;
    cursor: pointer;
    border-left: none;
    height: 100%; 
}

.copy-password span {
    color: #a2ecac;
    font-size: 24px;
    transform: scale(1);
    transition: transform 0.2s ease, color 0.2s ease;
    
}

.copy-password-button:hover span {
    transform: scale(1.1);
}

.password-details-container {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #24232b;
    width: 400px;
    padding: 20px;
}


.chrc-length {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
}

#length-display {
    color: #a2ecac;
    font-size: 25px; 
}

.password-length-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: transparent;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 5px;
}

/* TŁO – NIEWYPEŁNIONA CZĘŚĆ */
.password-length-slider::-webkit-slider-runnable-track {
    height: 8px;
    background: #1b1b1f;
    border-radius: 5px;
}

.password-length-slider::-webkit-slider-runnable-track {
    background: linear-gradient(
        to right,
        #a2ecac 0%,
        #a2ecac calc((var(--val) - var(--min)) / (var(--max) - var(--min)) * 100%),
        #1b1b1f calc((var(--val) - var(--min)) / (var(--max) - var(--min)) * 100%),
        #1b1b1f 100%
    );
}

.password-length-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    margin-top: -7px;
}

.checkboxes-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px; 
}

.option label {
    font-size: 16px;
    cursor: pointer;
}

.checkboxes-options input[type="checkbox"] {
    accent-color: #a2ecac;
}

.button-generate {
    width: 100%;
    padding: 10px;
    background-color: #a2ecac;
    border: 2px solid #a2ecac;
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 20px;
} 

.button-generate:hover {
    background-color: #24232b;
    color: #a2ecac;
}

.tooltip-text {
  visibility: hidden;      
  background-color: #24232b; 
  color: #e63f3f;          
  text-align: center;
  margin-top: 3px;
  font-size: 13px;
  transition: visibility 0.2s, opacity 0.2s;
  opacity: 0;
  z-index: 10;
  margin-bottom: -5px;
}

.tooltip-text.show {
  visibility: visible;
  opacity: 1;
}
